<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>博客</title>
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">博客园子</a>
	</div>
	<div class="collapse navbar-collapse" id="zhuce">
			</div>
        </div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-9">
		  <div class="container-fluid">
		  	<div class="row">
		  		<div class="col-xs-6 col-md-3">
     		 	<img src="..\static\touxiang\2.jpg" height="160" width="160" >
		  		</div>
		  		<div class="col-md-9">
		  			<div>
		  				<h4>用户名:{{ user }}</h4>
		  				<div> </div>
		  			</div>
		  		</div>
		  	</div>
		  	<div  class="gedui">
                {% if use1 %}
                  <button href="">已关注</button>
                {% else %}
                <a>
                   <button href="">关注</button>
                  {% endif %}
                </a>
		  	</div>
		  	<div class="feed_block">
		  		<h4>最新博客</h4>
		  		<ul id="feed_list">
		  		{% for list in post_list %}
        <li class="feed_item">
        <div class="feed_body" >
        <div class="feed_title">
        <a href="#" class="feed_author">{{list.users}}</a> 发表博客：<a href="{% url 'detail' id=list.id %}" target="_blank">{{list.title}}</a>
          <span class="feed_date">{{ list.date_publish }}</span></div>
          <div class="feed_desc">{{ list.desc }}
          </div>
          </div>
        </li></li>
		{% endfor %}
          </ul>
		  	</div>
		  </div>
		</div>
		<div class="col-md-3">
        <div>
        <h3>推荐文章</h3>
            {% for tuijian in tuijian_list %}
		 <li><a href="{% url 'detail' id=tuijian.id %}">{{ tuijian }}</a></li>
            {% endfor %}
		</div>
		<div>
		<h3>博客阅读排行</h3>
            {% for read in readlist %}
		 <li><a href="{% url 'detail' id=read.id %}">{{ read }}</a></li>
            {% endfor %}
		</div>
		<div>
			<h3>评论排行</h3>
            {% for read in readlist %}
		 <li><a href="{% url 'detail' id=read.id %}">{{ read }}</a></li>
            {% endfor %}
		</div>
		</div>
</div>
</div>
</body>
</html>