<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>博客</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">博客园子</a>
        </div>
        <div class="collapse navbar-collapse" id="zhuce">
            <ul class="nav navbar-nav">
                {% load staticfiles %}
                <li><img src=" {% static 'touxiang/2.jpg' %}" height="55" width="60" ></li>
                <li><a href="{% url 'person' %}"><span class="glyphicon ">{{ username }}</span></a></li>
                <li><a href="{% url 'logout'%}"><span class="glyphicon ">退出</span></a></li>
            </ul></div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                    </div>
                    <div class="col-md-9">
                    </div>
                </div>
                <div  class="gedui">
                    <table>
                        <tr><td >
                            <a href="#" class="link_account_xi">写博</a>
                        </td></tr>
                    </table>
                </div>
                <form  role="form" method="POST"  >
                    <h4  style="color: red">{{ msg }}</h4>
                    <div id="biaoti"> <b>标题</b><br>
                        <input type="text" name="biaoti1" class="biaoqian_xiebo">
                    </div>
                    <div>
                        <div><b>内容</b></div>
                    </div>
                    <div id="content">
                        <textarea id="tbCommentBody" class="comment_textarea" name="content"></textarea></div>
                    <div id="fenlei"> 分类：
                        <select  name="jumpMenu" id="jumpMenu" >
                            {% for fenlei in fenlei_list %}
                                <option>{{ fenlei }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="biaoqian">标签{% for tag in Tag_list %}
                        <label><input name="checkbox" type="checkbox" value="{{ tag }} " >{{ tag }} </label>
                    {% endfor %} </div>
                    <div id="tuijian">是否推荐
                        <label><input type="radio" name="tuijian">推荐</label>
                    </div>
                    <div id="fabiao">
                        <input type="submit" name="" value="发表">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div>
        </div>
    </div>
</div>
</body>
</html>